.list-public-main {
    display: none;
}

.list-public-main.active {
    display: block;
}

.list-public-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 5px 5px;
    margin-bottom: 30px;
}